-
  var priceItems1 = [
    {
      title: 'Basic',
      teaser: 'For a taste our product',
      text: 'Far far away, behind the word mountains, far from the country Vokalia',
      price: '0',
      per: 'always free',
      items: ['Item one', 'Item two', 'Item three']
    },
    {
      title: 'Professional',
      teaser: 'Make individual product',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics',
      price: '8.99',
      per: 'per month',
      items: ['Item one', 'Item two', 'Item three']
    },
    {
      title: 'Business',
      teaser: 'For big companies',
      text: 'A small river named Duden flows by their place and supplies it',
      price: '18.99',
      per: 'per month',
      items: ['Item one', 'Item two', 'Item three']
    }
  ]

-
  var priceItems2 = [
    {
      title: 'Personal',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts',
      price: 'Free'
    },
    {
      title: 'Agency',
      text: 'Far far away, behind the word mountains, far from the countries',
      price: '$123'
    },
    {
      title: 'Unlimited',
      text: 'Far far away, behind the word mountains, far from the countries',
      price: '$456'
    }
  ]

-
  var priceItems3 = [
    {
      title: 'Personal',
      text: 'Far far away, behind the word mountains',
      price: '0.00',
      items: ['Item one', 'Item two', 'Item three', 'Item four', 'Item five']
    },
    {
      title: 'Personal',
      text: 'Far far away, behind the word mountains',
      price: '99.9',
      items: ['Item one', 'Item two', 'Item three', 'Item four', 'Item five']
    },
    {
      title: 'Personal',
      text: 'Far far away, behind the word mountains',
      price: '699.9',
      items: ['Item one', 'Item two', 'Item three', 'Item four', 'Item five']
    }
  ]

-
  var priceItems4 = [
    {
      title: 'Storage',
      value: 28,
      labels: ['10 GB', '50 GB', '200 GB', '500 GB', '1 TB']
    },
    {
      title: 'Speed',
      value: 10,
      labels: ['10 GB/s', '50 GB/s', '200 GB/s', '500 GB/s', '1 TB/s']
    }
  ]

-
  var priceItems5 = [
    {
      title: 'Personal',
      price: 18,
      items: [
        {
          title: 'Item one',
          value: '256 MB'
        },
        {
          title: 'Item two',
          value: '10 GB'
        },
        {
          title: 'Item three',
          value: 'Unmetered'
        }
      ]
    },
    {
      title: 'Professional',
      price: 24,
      items: [
        {
          title: 'Item one',
          value: '512 MB'
        },
        {
          title: 'Item two',
          value: '30 GB'
        },
        {
          title: 'Item three',
          value: 'Unmetered'
        }
      ]
    },
    {
      title: 'Corporate',
      price: 38,
      items: [
        {
          title: 'Item one',
          value: '1024 MB'
        },
        {
          title: 'Item two',
          value: '60 GB'
        },
        {
          title: 'Item three',
          value: 'Unmetered'
        }
      ]
    },
    {
      title: 'Enterprise',
      price: 54,
      items: [
        {
          title: 'Item one',
          value: '2048 MB'
        },
        {
          title: 'Item two',
          value: '120 GB'
        },
        {
          title: 'Item three',
          value: 'Unmetered'
        }
      ]
    }
  ]

-
  var priceItems6 = [
    {
      title: 'Personal',
      price: 'Free',
      description: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Professional',
      price: '$89',
      description: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia',
      button: true
    },
    {
      title: 'Corporate',
      price: '$159',
      description: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var priceItems7 = [
    {
      title: 'Item One',
      price: '199'
    },
    {
      title: 'Item One',
      price: '199'
    },
    {
      title: 'Item One',
      price: '199'
    }
  ]

-
  var priceItems8 = [
    {
      tab: 'Tab One',
      items: [
        {
          title: 'First plan',
          price: '34',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        },
        {
          title: 'Second plan',
          price: '59',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        },
        {
          title: 'Third plan',
          price: '99',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        }
      ]
    },
    {
      tab: 'Tab two',
      items: [
        {
          title: 'First plan',
          price: '68',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        },
        {
          title: 'Second plan',
          price: '118',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        },
        {
          title: 'Third plan',
          price: '198',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        }
      ]
    },
    {
      tab: 'Tab three',
      items: [
        {
          title: 'First plan',
          price: '102',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        },
        {
          title: 'Second plan',
          price: '177',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        },
        {
          title: 'Third plan',
          price: '297',
          text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
        }
      ]
    }
  ]


-
  var priceItems9 = [
    {
      title: 'Free',
      price: '0',
      items: ['2 GB of space', 'Safe, reliable backup', 'Access from anywhere', 'Simple file sharing']
    },
    {
      title: 'Basic',
      price: '12',
      items: ['1 GB of space', 'Additional sharing controls', 'Remote wipe', 'Safe, reliable backup']
    },
    {
      title: 'Pro',
      price: '33',
      items: ['Unlimited file recovery', 'File sharing controls', 'Priority support', 'Safe backup']
    }
  ]

-
  var priceItems10 = [
    {
      title: 'Minimal',
      price: '6',
      text: 'Far far away, behind the word mountains'
    },
    {
      title: 'Medium',
      price: '16',
      text: 'Far far away, behind the word mountains'
    },
    {
      title: 'Premium',
      price: '26',
      text: 'Far far away, behind the word mountains'
    }
  ]
