include blogs/includes
include calls/includes
include contacts/includes

include contents/includes
include ecommerces/includes
include features/includes

include footers/includes
include forms/includes
include grids/includes

include headers/includes
include portfolio/includes
include prices/includes

include sliders/includes
include teams/includes
include testimonials/includes