extend ../layout

block title
  title Platforma prototype

block content
  include all-in

  //- Insert modules here as mixin calls.
  //- (same indent as this comment)


  +header-14()
  +content-4()
  +content-4()
  +testimonials-15()
  +call-9()
  +footer-9()
