<!DOCTYPE html>
html(lang="en")
  head
    block title
      title Module Wireframe Kit | GreatSimple

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- CSS Libraries
    link(rel='stylesheet', href="css/bootstrap-grid.min.css")
    link(rel="stylesheet", href="css/flickity.css")

    //- JS Libraries
    script(src="js/jquery-3.2.1.min.js")
    script(src="js/bootstrap.min.js")
    script(src="js/flickity.js")

    //- Platforma modules styles
    link(rel='stylesheet', href="css/main.css")

  body
    block content
      h1 Platforma Wireframe Kit
      h4 Something went wrong. You've built an empty page
