-
  var contactPoints10 = [
    {
      left: 26,
      top: 33
    },
    {
      left: 57.5,
      top: 28
    },
    {
      left: 85.5,
      top: 43
    },
    {
      left: 21.5,
      top: 55.5
    },
    {
      left: 55,
      top: 52.5
    }
  ]
