include ../common/common
include contents

mixin feature-3()
  +main-section({ id: 3, partial: 'features' }).pt-60.pt-lg-100.pb-20.pb-lg-60
    h1.text-center.mb-40.mb-lg-60 Features

    +row
      each item in featureItems3
        +feature-3-item(item)


//-PARTIALS
mixin feature-3-item({ title, text })
  +col(['12', 'sm-6', 'lg-3']).d-flex.mb-40
    .mr-15
      img(src="img/pics/check-36.svg", alt="")

    div
      h3.mb-10= title
      p!= text
