include ../common/common
include contents

mixin feature-4()
  +main-section({ id: 4, partial: 'features' }).text-center.p-60.p-lg-100
    h1.mb-40 Features
    h4.mb-40 Here is a cross of sections what we do:

    +row('center')
      +col(['12', 'lg-6']).mb-20
        +row
          each item in featureItems4
            +feature-4-item(item)

    +button


//- PARTIALS
mixin feature-4-item(title)
  +col(['6', 'sm-4']).mb-40
    img.m-auto.mb-20(src="img/pics/check-54.svg"  alt="")
    h3.mb-10= title
