include ../common/common

mixin blog-11()
  +main-section({ id: 1,  partial: 'blogs' }).p-60.p-lg-100
    +row.text-center
      +col
        h1.mb-60.
          Wireframe connects the underlying<br>conceptual structure

    +row
      +col(['12', 'sm-5', 'lg-5'])
        +row
          +col(['12', 'lg-10'])
            .panel.p-30.ph-30.mb-30.mb-sm-0
              h2.mb-15 Wireframe connects the underlying conceptual structure
              p.mb-40.
                Far far away, behind the word mountains, far from the countries
                Vokalia and Consonantia, there live the blind texts. Separated
                they live in Bookmarksgrove right at the coast of the Semantics,
                a large language ocean.

              .b-500 User one
              div Position

      +col(['12', 'sm-7', 'lg-6']).align-self-around.text-center.text-sm-left
        h5.mb-15 Subheadline one

        h4.mb-40.
          Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live
          in Bookmarksgrove right at the coast of the Semantics,
          a large language ocean.

        h2.mb-40 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia

        h4.
          Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live
          in Bookmarksgrove right at the coast of the Semantics,
          a large language ocean. Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live
          in Bookmarksgrove right at the coast of the Semantics,
          a large language ocean.
