.blogs
  .post-footer
    border-top 1px solid Light
    color Accent

    a
      color Accent

  .features
    border-top 1px solid Light
    border-bottom 1px solid Light

  .comments
    > div
      border-bottom 1px solid Light

      &:last-child
        border none

  .splited-text
    +sm()
      column-count 2
      column-gap 30px
