include ../common/common

mixin blog-10()
  +main-section({ id: 1,  partial: 'blogs' }).pt-60.pt-lg-100.pb-30.pb-sm-10.pb-lg-70
    +row.text-center
      +col
        h1.mb-60 Platforma wireframe

    +row.text-center.text-sm-left
      +col(['12', 'lg-6']).mb-20.mb-sm-0
        h4.mb-30.
          Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in
          Bookmarksgrove right at the coast of the Semantics,
          a large language ocean. Far far away, behind the word mountains.
        h4.mb-30.
          Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in
          Bookmarksgrove right at the coast of the Semantics,
          a large language ocean. Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in
          Bookmarksgrove right at the coast of the Semantics,
          a large language ocean.

      +col(['12', 'lg-6'])
        h5.mb-15 List One
        +row
          +col(['12', 'sm-6']).mb-30.mb-sm-50
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts

          +col(['12', 'sm-6']).mb-30.mb-sm-50
            p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country

        h5.mb-15 List Two
        +row
          +col(['12', 'sm-6']).mb-30.mb-sm-50
            p Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts

          +col(['12', 'sm-6']).mb-30.mb-sm-50
            p A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country
