include ../common/common

mixin blog-7()
  +main-section({ id: 7,  partial: 'blogs' }).text-center.text-sm-left.p-60.p-lg-100
    +row('between')
      +col(['12', 'sm-6', 'lg-5']).mb-40.mb-sm-0
        h5.mb-15 Tag One
        h1.mb-20 Wireframe connects the underlying conceptual structure
        h4.mb-40 Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
        +button-small

      +col(['12', 'sm-6'])
        h4.mb-40.
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in Bookmarksgrove right at the coast of
          the Semantics, a large language ocean.  Far far away, behind the word mountains. Far far
          away, behind the word mountains, far from the countries Vokalia and Consonantia, there
          live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
          Semantics, a large language ocean.  Far far away, behind the word mountains. Far far away,
          behind the word mountains, far from the countries Vokalia and Consonantia.

        .b-500.
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
