include ../common/common

mixin blog-8()
  +main-section({ id: 8,  partial: 'blogs' }).p-60.p-lg-100
    +row.text-center
      +col
        h1.mb-20 Wireframe connects the underlying conceptual structure
        h4.mb-40.mb-lg-70 Far far away, behind the word mountains, far from the<br>countries Vokalia and Consonantia

    +row.text-center.text-sm-left.mb-40.mb-lg-70
      +col
        h4.p30.splited-text.
          Far far away, behind the word mountains, far from the countries Vokalia
          and Consonantia, there live the blind texts. Separated they live in
          Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          Far far away, behind the word mountains.

          Far far away, behind the word mountains, far from the countries Vokalia
          and Consonantia, there live the blind texts. Separated they live in
          Bookmarksgrove right at the coast of the Semantics, a large language ocean.
          Far far away, behind the word mountains.

    +row.text-center
      +col
        +button-small

