include ../common/common
include contents

mixin content-8()
  +main-section({ id: 8, partial: 'contents' }).text-center.pt-60.pt-lg-100.pb-45.pb-sm-60.pb-lg-100
    +row
      +col
        h1.mb-40.mb-lg-60 Contents

    +row
      each item in contentItems8
        +content-8-item(item)


//- PARTIALS
mixin content-8-item({ title, text })
  +col(['12', 'lg-4']).mb-15
    .card.p-60.p-lg-100.ph-30
      h2.mb-20= title
      p.mb-40= text
      a.arrow.b-500(href="#") Learn more
