-
  var contentItems3 = [
    'img/logos/mashable.svg',
    'img/logos/theverge.svg',
    'img/logos/vine.svg',
    'img/logos/tinder.svg',
    'img/logos/adultswim.svg',
    'img/logos/netflix.svg'
  ]

-
  var contentIcons5 = new Array(3)

-
  var contentItems8 = [
    {
      title: 'Item One',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    },
    {
      title: 'Item Two',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    },
    {
      title: 'Item Three',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    }
  ]

-
  var contentSubtems13 = [
    {
      title: 'Feature one',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia'
    },
    {
      title: 'Feature two',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia'
    }
  ]

-
  var contentSubtems14 = [
    {
      title: 'Feature one',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia'
    },
    {
      title: 'Feature two',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia'
    }
  ]

-
  var contentButtons15 = [
    'img/logos/appstore.svg',
    'img/logos/googleplay.svg'
  ]

-
  var contentLogos16 = [
    'img/logos/flickr.svg',
    'img/logos/airbnb.svg',
    'img/logos/github.svg'
  ]

-
  var contentItems18 = [
    {
      title: 'Do you think there is an afterlife for animals other than human beings?',
      answer: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      title: 'How many golf balls can fit in a school bus?',
      answer: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      title: 'How much should you charge to wash all the windows in seattle?',
      answer: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      title: 'Do you think there is an afterlife for animals other than human beings?',
      answer: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      title: 'Why are manhole covers round?',
      answer: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    }
  ]

-
  var contentPhotos19 = new Array(5)

-
  var contentItems21 = [
    {
      title: 'Platforma wireframe',
      text: 'When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove',
    },
    {
      title: 'Platforma wireframe',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows',
      hasIcon: true
    }
  ]

-
  var contentLogos22 = [
    'img/logos/mashable.svg',
    'img/logos/theverge.svg',
  ]
