include ../common/common

mixin content-11()
  +main-section({ id: 11, partial: 'contents' }).text-center.bg-light.bg-devices.p-60.p-lg-100
    +row('end')
      +col(['12', 'sm-8', 'lg-6'])
        .bg-white.p-60.p-lg-100.ph-15.ph-sm-30.ph-lg-80
          h1.mb-20 Platforma Wireframe Kit
          h4.mb-60.
            When she reached the first hills of the Italic Mountains, she had a last view back
            on the skyline of her hometown Bookmarksgrove

          +button
