include ../common/common

mixin content-7()
  +main-section({ id: 7, partial: 'contents' }).bg-iphone-left.text-center.text-lg-left.p-60.p-lg-100
    +row('end')
      +col(['12', 'lg-5']).p-40.p-lg-80
        h1.mb-20 Platforma Kit
        h4.mb-40.
          Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia,
          there live the blind texts

        +button({ glyphicon: 'star' })
