include ../common/common

mixin content-6()
  +main-section({ id: 6, partial: 'contents' }).bg-iphone-right.text-center.text-lg-left.p-60.p-lg-100
    +row
      +col(['12', 'lg-5']).p-30.p-lg-70
        img.mb-40(src="img/pics/star-54.svg" alt="")

        h1.mb-20 Platforma Kit
        h4.
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts
