include ../common/common

mixin content-1()
  +main-section({ id: 1, partial: 'contents' }).text-center.p-60.p-lg-100
    +row('center')
      +col(['12', 'sm-8', 'lg-8'])
        img.mb-40(src="img/pics/star-54.svg" alt="")
        h4.
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
          a large language ocean
