include ../common/common

mixin content-23()
  +main-section({ id: 23, partial: 'contents' }).text-center.p-60.p-lg-100
    +row('center')
      +col(['12', 'sm-10', 'lg-8'])
        h1.mb-40.mb-lg-80 Platforma wireframe
        .video-circle
          img.image(src="img/img-16-9.png", alt="")
