include ../common/common

mixin content-17()
  +main-section({ id: 17, partial: 'contents' }).text-center.p-60.p-lg-100
    +row(['center'])
      +col(['12', 'sm-10', 'lg-8'])
        h1.mb-40.mb-lg-80 Wireframe connects the underlying conceptual structure

        img.w-full(src="img/bg/all-in-devices.svg", alt="")
