include ../common/common

mixin testimonials-4()
  +main-section({ id: 2, partial: 'testimonials' }).pt-60.pt-lg-100.pb-45.pb-sm-30.pb-lg-70
    .text-center
      h1.mb-60 Testimonials

    +row
      +col(['12', 'sm-4'])
        div
          .card.mb-15.mb-sm-30.p-30.ph-30
            .d-flex.align-items-center.mb-20
              img.mr-15(src="img/pics/user-round-50.svg")
              div
                h3 Author name
                p Position

            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        div
          .card.mb-15.mb-sm-30.p-30.ph-30
            .d-flex.align-items-center.mb-20
              img.mr-15(src="img/pics/user-round-50.svg")
              div
                h3 Author name
                p Position

            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
              there live the blind texts. Separated they live in Bookmarksgrove right at the coast
              of the Semantics, a large language ocean

      +col(['12', 'sm-4'])
        div
          .card.mb-15.mb-sm-30.p-30.ph-30
            .d-flex.align-items-center.mb-20
              img.mr-15(src="img/pics/user-round-50.svg")
              div
                h3 Author name
                p Position

            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
              there live the blind texts. Separated they live in Bookmarksgrove right at the coast
              of the Semantics, a large language ocean
        div
          .card.mb-15.mb-sm-30.p-30.ph-30
            .d-flex.align-items-center.mb-20
              img.mr-15(src="img/pics/user-round-50.svg")
              div
                h3 Author name
                p Position

            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia

      +col(['12', 'sm-4'])
        div
          .card.mb-15.mb-sm-30.p-30.ph-30
            .d-flex.align-items-center.mb-20
              img.mr-15(src="img/pics/user-round-50.svg")
              div
                h3 Author name
                p Position

            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia
        div
          .card.mb-15.mb-sm-30.p-30.ph-30
            .d-flex.align-items-center.mb-20
              img.mr-15(src="img/pics/user-round-50.svg")
              div
                h3 Author name
                p Position

            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
              there live the blind texts. Separated they live in Bookmarksgrove right at the coast
              of the Semantics, a large language ocean
