include ../common/common

mixin call-2()
  +main-section({ id: 2, partial: 'call-to-actions' }).text-center.p-60.p-lg-100
    +row('center')
      +col(['12', 'sm-8', 'lg-6'])
        h3.mb-40.
          The Big Oxmox advised her not to do so, because there were thousands of bad Commas

        +button
