.call-to-actions
  &.bg-iphone
    background url(../img/iPhone.svg) center bottom -95px no-repeat
    padding-bottom 350px
    background-size: 224px auto

    +sm()
      background-position center bottom -145px
      background-size: 324px auto
      padding-bottom 475px

    +lg()
      background-position center bottom -170px

