include ../common/common

mixin call-9()
  +main-section({ id: 9, partial: 'call-to-actions' }).text-center.p-60.p-lg-100
    +row('center')
      +col(['12', 'lg-10'])
        h1.mb-40 Wireframe connects the underlying conceptual structure
        +button
