include ../common/common

mixin call-4()
  +main-section({ id: 4, partial: 'call-to-actions' }).text-center.p-60.p-lg-100
    .panel.p-80.ph-15.ph-sm-80.ph-lg-120
      +row('center')
        +col(['12', 'sm-10', 'lg-8'])
          h2.mb-20 Call to action
          p.mb-40.
            The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli

          +button

