-
  var callLogogs5 = [
    'img/logos/mashable.svg',
    'img/logos/theverge.svg',
    'img/logos/tinder.svg',
    'img/logos/netflix.svg',
    'img/logos/vine.svg',
    'img/logos/adultswim.svg'
  ]

-
  var callItems7 = [
    {
      title: 'First Option',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia',
      link: 'View full project'
    },
    {
      title: 'Second Option',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia',
      link: 'Take a tour'
    }
  ]

-
  var callItems8 = [
    {
      title: 'First Option',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      title: 'Second Option',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    }
  ]

-
  var callButtons10 = [
    'img/logos/AppStore.svg',
    'img/logos/GooglePlay.svg'
  ]
