-
  var sliderItems1 = [
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    }
  ]

-
  var sliderItems2 = [
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind of shining texts'
    }
  ]

-
  var sliderItems3 = [
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var sliderItems4 = [0, 1, 2, 3, 4]

-
  var sliderItems5 = [0, 1, 2, 3, 4]

-
  var sliderItems6 = [
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    },
    {
      title: 'Platforma wireframe kit',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean'
    }
  ]

-
  var sliderItems7 = [
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics'
    }
  ]

-
  var sliderItems8 = [
    {
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    }
  ]

-
  var sliderScreens9 = [0, 1, 2, 3, 4, 5]

-
  var sliderItems10 = [0, 1, 2]
