-
  var ecommerceItems1 = [
    {
      tab: 'Tab one',
      items: [
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Platforma',
          description: 'A small river named Duden flows by their place and supplies it',
          isWild: true
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        }
      ]
    },
    {
      tab: 'Tab two',
      items: [
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Platforma',
          description: 'A small river named Duden flows by their place and supplies it',
          isWild: true
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        }
      ]
    },
    {
      tab: 'Tab three',
      items: [
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Platforma',
          description: 'A small river named Duden flows by their place and supplies it',
          isWild: true
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        }
      ]
    },
    {
      tab: 'Tab four',
      items: [
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Platforma',
          description: 'A small river named Duden flows by their place and supplies it',
          isWild: true
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        },
        {
          title: 'Item title',
          description: 'Far far away, behind the word mountains',
          price: '238'
        }
      ]
    }
  ]

-
  var ecommerceItems2 = [
    {
      title: 'Item title',
      price: '379.95'
    },
    {
      title: 'Item title',
      price: '379.95'
    },
    {
      title: 'Item title',
      price: '379.95'
    },
    {
      title: 'Item title',
      price: '379.95'
    }
  ]

-
  var ecommerceItems3 = new Array(5)

-
  var ecommerceItems4 = [
    {
      title: 'Related Item One',
      price: 348
    },
    {
      title: 'Related Item Two',
      price: 348
    },
    {
      title: 'Related Item Three',
      price: 348
    },
    {
      title: 'Related Item Four',
      price: 348
    },
    {
      title: 'Related Item Five',
      price: 348
    },
    {
      title: 'Related Item Six',
      price: 348
    }
  ]

-
  var ecommerceTabs5 = [
    {
      tab: 'Tab one',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar'
    },
    {
      tab: 'Tab two',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.'
    },
    {
      tab: 'Tab three',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind'
    }
  ]

  var ecommerceImages5 = new Array(3)

  var ecommerceAdditionals5 = [
    {
      title: 'Item One',
      value: 'First value'
    },
    {
      title: 'Item Two',
      value: 'Second value'
    },
    {
      title: 'Item Three',
      value: 'Third value'
    }
  ]

-
  var ecommerceItems6 = [
    {
      title: 'Related Item One',
      price: 348
    },
    {
      title: 'Related Item Two',
      price: 348
    },
    {
      title: 'Related Item Three',
      price: 348
    },
    {
      title: 'Related Item Four',
      price: 348
    },
    {
      title: 'Related Item Five',
      price: 348
    },
    {
      title: 'Related Item Six',
      price: 348
    }
  ]

-
  var ecommerceItems7 = [
    {
      isPhoto: true,
      isLarge: true
    },
    {
      isPhoto: true
    },
    {
      isPhoto: true
    },
    {
      title: 'Item One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia',
      price: 454
    },
    {
      isPhoto: true
    }
  ]
