.ecommerces
  .colors
    span
      border-radius 50%
      height 24px
      width 24px
      display inline-block
      margin 0 7px

      &.bg-accent-dark
        background AccentDark

      &.bg-accent
        background Accent

      &.bg-white
        background Light

      &.bg-white
        background white

  .additional-row
    border-top 1px solid Light
    border-bottom 1px solid Light
    line-height 40px
    margin-bottom -1px

  .rating-stars
    margin-left -2px
    margin-right -2px

    .glyphicon
      margin 0 2px

  .more
  .less
    position absolute
    top 0
    right 0
    display inline-block
    border none
    padding 0
    margin 0
    width 33px
    height 30px
    border-radius 0 6px 0 0
    background Light

    &:focus
      outline none

    &::before
      content ''
      display inline-block
      position absolute
      top 2px
      left -10px
      width 10px
      height 56px
      background #fff

    &::after
      content ''
      display inline-block
      position absolute
      top 13px
      left 13px
      width 7px
      height 7px
      transform rotate(-45deg)
      border-top 2px solid Accent
      border-right 2px solid Accent

    &.less
      top 30px
      border-radius 0 0 6px 0
      border-top 1px solid rgba(#3fa2f7, 0.25)

      &::before
        content none

      &::after
        top 9px
        border-top none
        border-right none
        border-bottom 2px solid Accent
        border-left 2px solid Accent
