-
  var teamsPeople1 = [
    {
      name: 'Employee One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Employee Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      name: 'Employee Three',
      text: 'A small river named Duden flows by their place and supplies it'
    },
    {
      name: 'Employee Four',
      text: 'It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
    },
    {
      name: 'Employee Five',
      text: 'Even the all-powerful Pointing has no control about the blind texts'
    },
    {
      name: 'Employee Six',
      text: 'One day however a small line of blind text by the name of Lorem Ipsum'
    }
  ]

-
  var teamsPeople2 = [
    'Employee One',
    'Employee Two',
    'Employee Three',
    'Employee Four',
    'Employee Five',
    'Employee Six',
    'Employee Seven',
    'Employee Eight'
  ]

-
  var teamsPeople3 = [
    {
      name: 'Employee One',
      text: 'She packed her seven versalia, put her initial into the belt and made herself on the way'
    },
    {
      name: 'Employee Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      name: 'Employee Three',
      text: 'A small river named Duden flows by their place and supplies it'
    },
    {
      name: 'Employee Four',
      text: 'It is a paradisematic country, in which roasted parts of sentences fly into your mouth.'
    },
    {
      name: 'Employee Five',
      text: 'Even the all-powerful Pointing has no control about the blind texts'
    },
    {
      name: 'Employee Six',
      text: 'One day however a small line of blind text by the name of Lorem Ipsum'
    }
  ]

-
  var teamsPeople4 = [
    'Employee One',
    'Employee Two',
    'Employee Three',
    'Employee Four',
    'Employee Five',
    'Employee Six',
    'Employee Seven'
  ]

-
  var teamsPeople5 = [
    'Employee One',
    'Employee Two',
    'Employee Three',
    'Employee Four',
    'Employee Five',
    'Employee Six',
    'Employee Seven',
    'Employee Eight',
    'Employee Nine'
  ]

-
  var teamsPeople6 = [
    'Employee One',
    'Employee Two',
    'Employee Three',
    'Employee Four',
    'Employee Five',
    'Employee Six',
    'Employee Seven',
    'Employee Eight',
    'Employee Nine'
  ]

-
  var teamsPeople7 = [
    {
      name: 'Employee One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Employee Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      name: 'Employee Three',
      text: 'A small river named Duden flows by their place and supplies it'
    },
    {
      name: 'Employee Four',
      text: 'It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
    },
    {
      name: 'Employee Five',
      text: 'Even the all-powerful Pointing has no control about the blind texts'
    },
    {
      name: 'Employee Six',
      text: 'One day however a small line of blind text by the name of Lorem Ipsum'
    },
    {
      name: 'Employee Seven',
      text: 'It is a paradisematic country, in which roasted parts of sentences fly into your mouth.'
    },
    {
      name: 'Employee Eight',
      text: 'Even the all-powerful Pointing has no control about the blind texts'
    },
    {
      name: 'Employee SiNinex',
      text: 'One day however a small line of blind text by the name of Lorem Ipsum'
    },
    {
      name: 'Employee One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      name: 'Employee Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      name: 'Employee Three',
      text: 'A small river named Duden flows by their place and supplies it'
    }
  ]

-
  var teamsPeople8 = [
    'Employee One',
    'Employee Two',
    'Employee Three',
    'Employee Four',
    'Employee Five',
    'Employee Six'
  ]
