include ../common/common

mixin team-9()
  +main-section({ id: 9, partial: 'teams' }).p-60.p-lg-100.text-center.text-sm-left
    +row('between', 'center')
      +col(['12', 'sm-6']).mb-40.mb-sm-0
        h1.mb-20 Wireframe connects the underlying structure
        h4.mb-40.
          Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts away

        +button-small()

      +col(['12', 'sm-6'])
        img.image(src="img/img-square.png" alt="").userpic-xl

