-
  var slidesHeader7 = [
    {
      title: 'Item One'
    },
    {
      title: 'Item Two'
    },
    {
      title: 'Item Three'
    },
    {
      title: 'Item Four'
    }
  ]

-
  var featuresHeader13 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia'
    },
    {
      title: 'Feature Two',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics'
    },
    {
      title: 'Feature Three',
      text: 'A small river named Duden flows by their place and supplies it with'
    },
    {
      title: 'Feature Four',
      text: 'A small river named Duden flows by their place and supplies it with'
    }
  ]
