include ../common/common
include partials

mixin header-13()
  +main-section({ id: 13, partial: 'headers' }).bg-light.text-center.pt-60.pt-lg-100.pb-20.pb-lg-60
    .bb-light.mb-60
      +row('center').mb-60
        +col(['12', 'sm-8', 'lg-6'])
          .mb-50
            +logo
          h1.mb-30 Platforma wireframe kit
          h4.mb-40.
            Far far away, behind the word mountains, far from the countries Vokalia and Consonantia

          +button({ icon: 'facebook', text: 'Sign up with facebook' })

    +row
      each item in featuresHeader13
        +header-13-item(item)


//- PARTIALS
mixin header-13-item ({ title, text })
  +col(['12', 'sm-6', 'lg-3']).mb-40
    img.mb-20(src="img/pics/check-36.svg" alt="")
    h3.mb-10= title
    p!= text
