include ../common/common
include partials

mixin header-10()
  +main-section({ id: 10, partial: 'headers', isFluid: true }).bg-light.bg-iphone-right.text-center.text-lg-left
    .ph-15.ph-sm-30.ph-lg-70.p-40
      +row('between', 'center')
        +col('auto')
          +burger

        +col('auto')
          a(href="")
            img(src="img/logos/appstore.svg")

    .container.pt-30.pt-lg-120.pb-70.pb-sm-100.pb-lg-200
      +row('center').justify-content-lg-start
        +col(['12', 'sm-8', 'lg-5'])
          .mb-40
            +logo
          h1.mb-20 Platforma wireframe
          h4.mb-60.
            Far far away, behind the word mountains, far from the countries Vokalia
            and Consonantia, there live the blind texts away

          +button({ glyphicon: 'star' })
