-
  var gridItems2 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    },
    {
      title: 'Feature Two',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts'
    }
  ]

-
  var gridItems3 = [
    {
      title: 'Feature One',
      text: 'Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day'
    },
    {
      title: 'Feature Two',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    },
    {
      title: 'Feature Three',
      text: 'It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
    },
    {
      title: 'Feature Four',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    },
    {
      title: 'Feature Five',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Six',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    }
  ]

-
  var gridItems4 = [
    {
      title: 'Feature One',
      text: 'Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One'
    },
    {
      title: 'Feature Two',
      text: 'A small river named Duden flows by their place and supplies it with the necessary regelialia'
    },
    {
      title: 'Feature Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia'
    },
    {
      title: 'Feature Four',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language '
    },
    {
      title: 'Feature Five',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language Ocean'
    },
    {
      title: 'Feature Six',
      text: 'The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild '
    },
    {
      title: 'Feature Seven',
      text: 'It is a paradisematic country, in which roasted parts of sentences fly into your mouth'
    },
    {
      title: 'Feature Eight',
      text: 'Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language '
    }
  ]

-
  var gridItems5 = [
    {
      title: 'Feature One',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast.'
    },
    {
      title: 'Feature Two',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast.'
    },
    {
      title: 'Feature Three',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast.'
    },
    {
      title: 'Feature Four',
      text: 'Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast.'
    }
  ]

-
  var gridItems9 = [0, 1, 2]

-
  var gridItems10 = [0, 1, 2, 4]
