include ../common/common
include contents

mixin grid-3()
  +main-section({ id: 3, partial: 'grids' }).text-center.pt-60.pb-20.pt-lg-100.pb-lg-30
    +row
      each item in gridItems3
        +grid-3-item(item)


//- PARTIALS
mixin grid-3-item({ title, text })
  +col(['12', 'sm-6', 'lg-4']).mb-40.mb-lg-70
    h3.mb-20= title
    p!= text
