// Basic settings and resets
@import 'base/colors'
@import 'base/mediaquories'
@import 'common'
@import 'base/reset'
@import 'base/atoms'
@import 'base/typography'


// Modules styles
@import '../modules/headers/headers'
@import '../modules/contents/contents'
@import '../modules/sliders/sliders'
@import '../modules/grids/grids'
@import '../modules/features/features'
@import '../modules/portfolio/portfolio'
@import '../modules/ecommerces/ecommerce'
@import '../modules/blogs/blogs'
@import '../modules/prices/prices'
@import '../modules/footers/footers'
@import '../modules/calls/calls'
@import '../modules/teams/teams'
@import '../modules/forms/forms'
@import '../modules/testimonials/testimonials'
@import '../modules/contacts/contacts'

@import 'ui'
