include partials

mixin footer-12()
  +main-section({ id: 12, partial: 'footers' }).text-center.text-lg-left
    .bb.p-40
      +row('between', 'center')
        +col(['12', 'sm-auto']).mb-40.mb-sm-0
          nav.navbar
            a(href="") First
            a(href="") Second
            a(href="") Third
            a(href="") Fourth
            a(href="") Fifth

        +col(['12', 'sm-auto'])
          +row('center', 'center')
            +col('auto')
              div Download our App
            +col('auto')
              a(href="")
                img(src="img/logos/AppStore.svg" alt="")

    p.p-40 &copy; 2016 Great Simple All rights reserved

