include partials

mixin footer-15()
  +main-section({ id: 15, partial: 'footers' }).text-center
    .p-40
      +row('center', 'center')
        +col(['12', 'lg-5']).mb-20.mb-lg-0.text-lg-left
          nav.navbar
            a(href="") Menu Four
            a(href="") Menu Five
            a(href="") Menu Six

        +col(['12', 'lg-2']).mb-20.mb-lg-0
          +logo

        +col(['12', 'lg-5']).text-lg-right
          nav.navbar
            a(href="") Menu Four
            a(href="") Menu Five
            a(href="") Menu Six
