include partials

mixin footer-10()
  +main-section({ id: 10, partial: 'footers' })
    .bb.p-60.text-center
      .mb-50
        h3 Amsterdam Store
        div Singel 459
        div 1012 WP Amsterdam
        div The Netherlands

      +socials({
        facebook: true,
        twitter: true,
        instagram: true
      })

    +row('center', 'center').p-40
      +col(['12', 'sm-6', 'lg-3']).text-center.text-sm-left.order-2.order-lg-1.mb-30.mb-sm-0
        .dropdown
          a(href="" id="footers-10-dropdown" data-toggle="dropdown")
            span.d-flex.align-items-center
              span.mr-10
                img(src="img/flag.svg" alt="")
              span Country
          .dropdown-menu(aria-labelledby="footers-10-dropdown")
            a(href="") Submenu one
            a(href="") Submenu two
            a(href="") Submenu three
            .dropdown-divider
            a(href="") Submenu four

      +col(['12', 'lg-6']).mb-20.mb-lg-0.text-center.order-1.order-lg-2
        nav.navbar
          a(href="") Menu One
          a(href="") Menu Two
          a(href="") Menu Three
          a(href="") Menu Four
          a(href="") Menu Five

      +col(['12', 'sm-6', 'lg-3']).order-2.order-lg-3.text-center.text-sm-right
        p &copy; 2016 Great Simple

